<!doctype html>

<html>

<head>
  <title>Touring Machine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css">
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head>

<body>

  <div data-role="page">

    <div data-role="header">
    
      <h1>Choose Route</h1>
    </div><!-- /header -->

    <div data-role="content">

      <div id="map"></div>

      <div id="options">
        <a href="#" data-role="button">Minimize Climbing</a>
        <a href="#" data-role="button">Minimize Turns</a>
        <a href="#" data-role="button">Minimize Traffic</a>
        <a href="#" data-role="button">Best Surface</a>
      </div>

      <div id="details">
        <a href="#" data-role="button">Elevation Profile</a>
        <a href="#" data-role="button">Step-by-Step Directions</a>
        <a href="#" data-role="button">Save this Route</a>
      </div>

    </div><!-- /content -->

  </div><!-- /page -->

</body>

</html>