<!doctype html>

<html>

<head>
  <title>Touring Machine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css">
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head>

<body>

  <div data-role="page">

    <div data-role="header">
      <h1>Touring Machine</h1>
    </div><!-- /header -->

    <div data-role="content">

      <a href="create_route.html" data-role="button" data-icon="arrow-r" data-iconpos="right">Create a Route</a>
      <a href="my_routes.html" data-role="button" data-icon="arrow-r" data-iconpos="right">My Routes</a>
      <a href="settings.html" data-role="button" data-icon="arrow-r" data-iconpos="right">Settings</a>

    </div><!-- /content -->

  </div><!-- /page -->

</body>

</html>